{% extends "cc_base.html" %}

{% block metadata %}
{% endblock %}

{% block styles %}

{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Nieuwe richting toevoegen
            </h1>
            <h2 class="subtitle">
                Vul hieronder de naam van je nieuwe richting in.
            </h2>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="container">
                    <div class="field">
                        {{ form.richting(class="input", type="text", placeholder="Studierichting", list="richtingen") }}
                        <ul>
                            {% for error in form.richting.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                    <div class="level">
                        <div class="level-left">
                            <div class="buttons">
                                {{ form.submit(class="button is-primary") }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}