{% extends "cc_base.html" %}

{% block styles %}
    .has-bg-img { background: url('/static/hero2.jpg')center center; background-size:cover; background-attachment:fixed;
    }
{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Dankje!
            </h1>
            <h2 class="subtitle">
                Je gegevens zijn goed ontvangen. Bedankt voor je registratie.
            </h2>
        </div>
    </section>
{% endblock %}