{% extends "cc_base.html" %}

{% block styles %}
.has-bg-img { background: url('/static/hero2.jpg')center center; background-size:cover; background-attachment:fixed; }
{% endblock %}

{% block body %}
 <section class="section">
    <div class="container">
      <h1 class="title">
        Hoe ver sta je al met je keuze?
      </h1>
      <a class="button is-primary" href="{{ url_for('register', type="future_student") }}">Ik weet al wat of waar ik wil studeren</a><br><br>
      <a class="button is-primary" href="https://www.onderwijskiezer.be/v2/hoger/hoger_acabach.php">Ik ben het nog aan het uitzoeken</a>
{#      <form action="" method="post" novalidate="">#}
{#          <input class="button is-primary" id="login" name="middelbaar" type="submit" value="Ik weet al wat ik wil studeren"><br><br>#}
{#          <input class="button is-primary" id="login" name="unief" type="submit" value="Ik weet al waar ik wil studeren"><br><br>#}
{#          <input class="button is-primary" id="login" name="unief" type="submit" value="Ik ben het nog aan het uitzoeken">#}
{#      </form>#}
    </div>
 </section>
</section>
{% endblock %}