{% extends "cc_base.html" %}

{% block metadata %}
{% endblock %}

{% block styles %}

{% endblock %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Registreren
            </h1>
            <h2 class="subtitle">
                Vul de gegevens hieronder in, zodat we je snel kunnen verder helpen.
            </h2>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="container">
                    <div class="field">
                        {{ form.name(class="input", placeholder="Naam*", type="text") }}
                    </div>
                    <datalist id="richtingen">
                        {% for richting in richtingen %}
                            <option value="{{ richting }}">
                        {% endfor %}
                    </datalist>
                    <div class="field autocomplete">
                        {{ form.richting(class="input", type="text", placeholder="Studierichting", list="richtingen") }}
                        <ul>
                            {% for error in form.richting.errors %}
                                <li>{{ error }} Dit kan je <a href="{{ url_for('new_richting') }}">hier</a> doen.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <datalist id="locaties">
                        {% for location in locations %}
                            <option value="{{ location }}">
                        {% endfor %}
                    </datalist>
                    <div class="field autocomplete">
                        {{ form.locatie(class="input", type="text", placeholder="Plaats", list="locaties") }}
                        <ul>
                            {% for error in form.richting.errors %}
                                <li>{{ error }} Dit kan je <a href="{{ url_for('new_richting') }}">hier</a> doen.</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="field">
                        {{ form.email(class="input", type="text", placeholder="Emailadres*") }}
                        <ul>
                            {% for error in form.email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br>
                    <div class="level">
                        <div class="level-left">
                            <div class="buttons">
                                {{ form.submit(class="button is-primary") }}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}